node_modules
.turbo
lib
dist
.eslintcache
coverage

.changeset/README.md

/docs/.vitepress/cache
/packages/web/auto-imports.d.ts

.idea/**/*
.vscode/**/*
!.vscode/settings.json
!.vscode/extensions.json