lib
dist
cache
.cache
.turbo
coverage
node_modules

.eslintcache
.changeset/README.md
*.tsbuildinfo

packages/web/src/worker/**/*.js

.idea
.vscode/**/*
!.vscode/settings.json
!.vscode/extensions.json
